.wrapper-date-picker {
    margin: 0 auto;
    width: 480px;
    margin-top: 35px;
    background-color: #302f2f;
    height: 570px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
}
.wrapper-month-year {
    display: inline-block;
}
.wrapper-next-prev {
    float: right;
    display: inline-block;
}
.wrapper-button {
    margin-top: -12px;
}
.button-after {
    margin-left: 60px;
    padding-top: 8px;
}
.numberDay:hover {
    background-color: #5ea3ee;
    color: #0c151f;
    font-weight: 600;
}
.numberDay {
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 50%;
    background-color: #121211;
    color: #ebebec;
    line-height: 50px;
    margin: 5px;
}
.active {
    display: inline-block;
    background-color: #5ea3ee;
    color: #0c151f;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    border-radius: 50%;
    font-weight: 600;
}
.yearstyle {
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
}
.monthstyle{
    color: #fff;
    margin-right: 10px;
    font-size: 25px;
}
.wrapper-header {
    padding-top: 25px;
    width: 420px;
    margin: 0 auto;

}
.wrapper-numberday {
    width: 420px;
    margin: 0 auto;
    margin-top: 20px;
}
.week-header {
    width: 420px;
    margin: 0 auto;
    margin-top: 60px;
}
.week-number {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 5px;
    color: #b9babb;
}
.buttonOkDatePicker {
    color: #b13e34;
    background-color: #2f2f2f;
    border: none;
    font-weight: 600;  
}
.buttonCancelDatePicker {
    
    background-color: #2f2f2f;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #b13e34;
    margin-left: 300px;
}
.numberDaywithzero{
    visibility: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    margin: 5px;
}
.style-wrapper-year {
    width: 480px;
    background-color: #302f2f;
    position: absolute;
    height: 450px;
    z-index: 1;
    margin-top: 30px;
    overflow-y: scroll;
}
.number-year {
    display: inline-block;
    width: 110px;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
@media only screen and (max-width: 500px) {
    .style-wrapper {
        max-width: 420px;
    }
    .monthstyle {
        font-size: 20px;
    }
    .yearstyle {
        font-size: 20px;
    }
    .style-wrapper-year {
        width: 420px!important;
    }
    .wrapper-month-year  img {
        width: 18px;
    }
    .wrapper-month-year {
        margin-left: 8px;
    }
    .button-after {
        margin-right: 8px;
    }
    
     .wrapper-date-picker {
        width: 420px;
    }
}
@media only screen and (max-width: 450px) {
    .style-wrapper {
        max-width: 350px;
    }
    .wrapper-button {
        margin-top: 15px;
    }
    .wrapper-next-prev > span > img {
        width: 15px;
    }
    .style-wrapper-year {
        width: 350px!important;
    }
    .wrapper-date-picker {
        width: 350px;
    }
    .week-number {
        width: 40px;
    }
    .week-header {
        width: 350px;
    }
    .wrapper-numberday {
        width: 350px;
        
    }
    .wrapper-header {
        width: 350px;
    }
    .active {
        width: 40px!important;
        height: 40px!important;
        line-height: 40px!important;
    }
     .numberDaywithzero{
        width: 40px!important;
        height: 40px!important;
        line-height: 40px!important;
    }
    .numberDay {
        width: 40px!important;
        height: 40px!important;
        line-height: 40px!important;
    }  
    .buttonCancelDatePicker {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 350px) {
    .style-wrapper {
        max-width: 300px;
    }
    .wrapper-date-picker {
        width: 300px;
    }
    .style-wrapper-year {
        width: 300px!important;
    }
    .wrapper-numberday {
        width: 300px;
    }
    .wrapper-header {
        width: 300px;
    }
    .week-header {
        width: 300px;
    }
    .week-number {
        width: 32px;
    }
    .active {
        width: 32px!important;
        height: 32px!important;
        line-height: 32px!important;
    }
    .numberDaywithzero{
        width: 32px!important;
        height: 32px!important;
        line-height: 32px!important;
    }
    .numberDay {
        width: 32px!important;
        height: 32px!important;
        line-height: 32px!important;
    }  
    .yearstyle {
        color: #fff;
        margin-right: 20px;
        font-size: 15px;
    }
    .monthstyle{
        color: #fff;
        margin-right: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 310px) {
    .wrapper-header {
        width: 260px;
    }
    .wrapper-date-picker {
        width: 260px;
    }
    .button-after {
        margin-right: 14px;
        margin-left: 35px;
    }
    .week-header {
        width: 260px;
    }
    .week-number {
        width: 25px;
    }
    .wrapper-numberday {
        width: 260px;
    }
    .numberDaywithzero {
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        font-size: 12px;
    }
    .numberDay {
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        font-size: 12px;
    }
    .active {
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        font-size: 12px;
    }
    .style-wrapper-year {
        width: 260px!important;
    }
    .wrapper-date-picker {
        height: 460px;
    }

}